@font-face {
  font-family: 'Work Sans';
  src: url('../Font/WorkSans.ttf') format('truetype');
}
$color_1: #000;
$color_2: #545F7D;
$color_3: #213F7D;

/* table section */
#wrapper {
  background: #fbfbfb;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}
#wrapper.toggled {
  padding-left: 250px;
  overflow: hidden;
  #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    position: relative;
    margin-right: 0px;
  }
}
#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  color: $color_1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
}
#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}

#page-content-wrapper .users-text {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #213F7D;
}


.fixed-brand {
  width: auto;
}


.table {
  background: green;
  padding: 10%;
  margin: 2% 10% 0 2%;
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  thead {
    >th {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      align-items: flex-end;
      text-transform: uppercase;
      color: $color_2;
      padding: 1%;
      cursor: pointer;
      // width: 16.5%;
    }
  }
  tbody {
    >tr {
      >td {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;
        padding: 1%;
        color: $color_2;
      }
    }
  }
}
.table-section {
  padding-right: 4%;
  padding-bottom: 5%;
}
.test {
  &:after {
    content: '\2807';
    font-size: 30px;
  }
}

#container .text {
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 400;
}

#container #menu-wrap {
  position: relative;
  height: 25px;
  width: 25px;
}

#container #menu-wrap .dots {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

#container #menu-wrap .dots > div,
#container #menu-wrap .dots > div:after,
#container #menu-wrap .dots > div:before {
  height: 6px;
  width: 6px;
  background-color: rgba(49, 49, 49, 0.8);
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .dots > div {
  position: relative;
}

#container #menu-wrap .dots > div:after {
  content: "";
  position: absolute;
  bottom: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .dots > div:before {
  content: "";
  position: absolute;
  top: calc((25px / 2) - (6px / 2));
  left: 0;
}

#container #menu-wrap .menu {
  position: absolute;
  right: -10px;
  top: calc(-12px + 50px);
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index:222;
  padding: 20px 15px;
  -webkit-box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.2);
  box-shadow: 2px 4px 6px rgba(49, 49, 49, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
}

#container #menu-wrap .menu ul {
  list-style: none;
}

#container #menu-wrap .menu ul li {
  margin: 15px 0 15px -25px;
  width: 100px !important
}

#container #menu-wrap .menu ul li a {
  text-decoration: none
}

#container #menu-wrap .menu ul li a img {
  margin-right: 3px;
}

#container #menu-wrap .menu ul li .link {
  text-decoration: none;
  color: rgba(49, 49, 49, 0.85);
  opacity: 0;
  visibility: hidden;
}

#container #menu-wrap .toggler {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  z-index: 2;
}

#container #menu-wrap .toggler:hover + .dots > div,
#container #menu-wrap .toggler:hover + .dots > div:after,
#container #menu-wrap .toggler:hover + .dots > div:before {
  background-color: rgba(49, 49, 49, 0.6);
}

#container #menu-wrap .toggler:checked + .dots > div {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * -0.7071067812))
    translateY(calc(((25px / 2) - (6px / 2)) * -0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:after {
  -webkit-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  -ms-transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
  transform: translateX(calc(((25px / 2) - (6px / 2)) * 0.7071067812))
    translateY(calc((2 * (25px / 2) - (6px / 2)) * 0.7071067812));
}

#container #menu-wrap .toggler:checked + .dots > div:before {
  -webkit-transform: translateX(
      calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812))
    )
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  -ms-transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
  transform: translateX(calc(2 * (((25px / 2) - (6px / 2)) * 0.7071067812)))
    translateY(
      calc(((25px / 2) - (6px / 2)) - (((25px / 2) - (6px / 2)) * 0.7071067812))
    );
}

#container #menu-wrap .toggler:checked:hover + .dots > div,
#container #menu-wrap .toggler:checked:hover + .dots > div:after,
#container #menu-wrap .toggler:checked:hover + .dots > div:before {
  background-color: rgba(49, 49, 49, 0.6);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:checked ~ .menu {
  opacity: 2;
  visibility: visible;
  width: 150px;
  height: 130px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:checked ~ .menu ul .link {
  opacity: 2;
  visibility: visible;
  -webkit-transition: 0.5s ease 0.3s;
  -o-transition: 0.5s ease 0.3s;
  transition: 0.5s ease 0.3s;
}

#container #menu-wrap .toggler:checked ~ .menu ul .link:hover {
  color: #2980b9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#container #menu-wrap .toggler:not(:checked) ~ .menu {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#container #menu-wrap .toggler:not(:checked) ~ .menu ul .link {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}



/*media query*/
@media (max-width: 600px) {
  .card {
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 30px 30px 30px;
    img {
      width: 20%;
      left: 382px;
      top: 257px;
    }
    .first-text {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      padding: 20px 0 0 0;
      color: $color_2;
    }
    .total {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: $color_3;
    }
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .card {
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 30px 30px 30px;
    img {
      width: 20%;
      left: 382px;
      top: 257px;
    }
    .first-text {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      padding: 20px 0 0 0;
      color: $color_2;
    }
    .total {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: $color_3;
    }
  }
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  .fixed-brand {
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
    #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
    }
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled-2 {
    #sidebar-wrapper {
      width: 50px;
      &:hover {
        width: 250px;
      }
    }
    #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto;
    }
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}



@media (min-width: 768px) and (max-width: 1417px) {
  .xyz {
    min-width: 360px;
  }
  .card {
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 30px 30px 30px;
    img {
      width: 20%;
      left: 382px;
      top: 257px;
    }
    .first-text {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      padding: 20px 0 0 0;
      color: $color_2;
    }
    .total {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: $color_3;
    }
  }
}

@media (min-width: 1418px) {
  .card {
    width: 100%;
    height: 180px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 30px 30px 30px;
    img {
      width: 20%;
      left: 382px;
      top: 257px;
    }
    .first-text {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      padding: 20px 0 0 0;
      color: $color_2;
    }
    .total {
      font-family: 'Work Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: $color_3;
    }
  }
}


@media (max-width: 600px) {
  #container {
    position: absolute;
    top: 50px;
    width: calc(100% - 40px);
    margin: 0;
  }
}




.pagination {
  background: green;
}

