@font-face {
  font-family: 'Work Sans';
  src: url('../Font/WorkSans.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../Font/Roboto.ttf') format('truetype');
}
$color_1: #9DBFAF;
$color_2: #00B4CC;
$color_3: #fff;
$color_4: #000;


  .navbar {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  }
  .nav-pills {
    >li {
      >a {
        border-radius: 0;
      }
    }
  }

@media(min-width: 992px) {
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: 70%;
    border: 3px solid #39CDCC;
    border-right: none;
    padding: 16px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: $color_4;
    &:focus {
      color: $color_4;
    }
  }
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #39CDCC;
    background: #39CDCC;
    text-align: center;
    color: $color_3;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .nav-right {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      .docs {
        margin-top: 3%
      }
      .notification {
        margin-top: 3%;
        cursor: pointer
      }

      li {
        display: inline;
        padding-left: 30px;
        float: left;
        span {
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }

.docs a {
  // font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #213F7D;
  padding-top: 40px;
}

.nav-name a {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #213F7D;
  text-decoration: none;
}

.dropdown {
  z-index: 222;
}
.dropdown-menu {
  z-index: 222;
}


}/*media query closing tag*/





@media(max-width: 991px) {
  .search {
    /*width: 100%;
    position: relative;
    display: flex;*/
  }
  .searchTerm {
    width: 70%;
    border: 3px solid #39CDCC;
    border-right: none;
    padding: 16px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: $color_4;
    &:focus {
      color: $color_4;
    }
  }
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #39CDCC;
    background: #39CDCC;
    text-align: center;
    color: $color_3;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .wrap {
    /*width: 30%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);*/
  }
  .nav-right {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        display: inline;
        padding-left: 10px;
        float: left;
        span {
          img {
            border-radius: 50%;
          }
        }
      }
    }
  }
}/*media query closing tag*/




@media (max-width: 767px) {
  .wrap {
    display: none
  }
}